body{

}

.container{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.clearfix::after{
	display: table;
	clear: both;
	content: "";
}

/* Header */

.main-navigation{
	float: left;
}

.user-block{
	float: right;
}

/* Main */


.index-content{
	padding: 55px 0 50px;
}

.index-content-left{
	width: 220px;
	float: left;
}

.index-content-right{
	width: 700px;
	float: right;
}

.shop-item{
	width: 220px;
	height: 290px;
	margin-right: 20px;
	float: left;
}

.shop-item:nth-child(3n){
	margin-right: 0;
}

.shop-pagination{
	clear: both;
}

/* Footer */

.main-footer{
	padding: 60px 0 40px 0;
}

.footer-contracts{
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-social{
	float: left;
	width: 180px;
}

.footer-copyright{
	float: right;
	width: 180px;
}