body{
    min-width: 960px;
    margin: 0;

    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;

    color: #fff;
    background: #f7f4f1 url('../img/index-background.jpg') repeat;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix::after{
    display: table;
    clear: both;

    content: '';
}

.btn{
    display: inline-block;

    margin-right: 16px;
    padding: 10px 33px;

    font: inherit;
    line-height: 24px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    border: none;
    outline: none;
    background-color: black;
}

.btn:hover,
.btn:active{
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
    cursor: default;

    opacity: .5;
}

.btn.disabled,
.btn:disabled{
    background-color: #000;
}


/* Header */

.main-header{
    color: #fff;
    background-color: black;
}

.main-navigation{
    float: left;
}

.main-navigation ul{
    margin: 0;
    padding: 0;

    font-size: 0;

    list-style: none;
}

.main-navigation li{
    display: inline-block;

    vertical-align: top;
}

.main-navigation a{
    display: inline-block;

    padding: 25px 20px;

    font-size: 16px;
    line-height: 24px;

    text-decoration: none;

    color: #fff;
}

.main-navigation img{
    display: block;
}

.main-navigation a:hover{
    background-color: #242424;
}

.main-navigation .main-logo:hover{
    background: none;
}

.user-block{
    float: right;
}

.login{
    position: relative;

    display: block;

    padding: 25px 20px 25px 50px;

    font-size: 16px;
    line-height: 24px;

    text-decoration: none;

    color: #fff;
}

.login:hover{
    background-color: #242424;
}

.login::before{
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 16px;

    content: '';

    background: url('../img/sprite.png') no-repeat;
}

.login:hover::before{
    opacity: .3;
}

.active-page{
    position: relative;
}

.active-page::after{
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;

    height: 4px;

    content: '';

    background-color: white;
}

/* Main */

.index-content{
    padding: 50px 0 50px;

    color: black;
}

.index-content-left{
    float: left;

    width: 220px;
}

.index-content-right{
    float: right;

    width: 700px;
}

.page-title{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}

.index-content-title{
    display: inline-block;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
}

.index-content-description{
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
}

.bread-crumbs{
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-size: 0;

    list-style: none;
}

.bread-crumbs li{
    position: relative;

    display: inline-block;

    margin-right: 20px;
    padding-right: 20px;

    font-size: 14px;
    line-height: 20px;
}

.bread-crumbs li:last-child{
    margin-right: 0;
    padding-right: 0;

    opacity: .3;
}

.bread-crumbs li::after{
    position: absolute;
    top: 50%;
    right: 0;

    width: 8px;
    height: 8px;

    content: '';
    transform: translate(50%, -50%) rotate(45deg);

    background-color: black;
}

.bread-crumbs li:last-child::after{
    display: none;
}

.bread-crumbs a{
    text-decoration: none;

    color: black;
}

.manufactures-title,
.goods-title{
    margin-bottom: 30px;
}

.sort-form fieldset{
    margin: 0;
    padding: 0;

    border: none;
}

.index-checkbox-list,
.index-radio-list{
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    list-style: none;
}

.index-checkbox-list li,
.index-radio-list li{
    margin-bottom: 19px;
}

.index-checkbox-list input[type=checkbox],
.index-radio-list input[type=radio]{
    display: none;
}

.index-checkbox-list input[type=checkbox] + label,
.index-radio-list input[type=radio] + label{
    position: relative;

    display: inline-block;

    padding-left: 45px;

    font-size: 14px;
    line-height: 18px;
}

.index-checkbox-list input[type=checkbox] + label::before,
.index-radio-list input[type=radio] + label::before{
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    padding: 2px;

    content: '';
    cursor: pointer;

    border: 2px solid black;
    background-clip: content-box;
}

.index-radio-list input[type=radio] + label::before{
    padding: 4px;

    border-radius: 50%;
}

.index-checkbox-list input[type=checkbox]:checked + label::before{
    background: url('../img/checkbox-background.png') center no-repeat;
}

.index-radio-list input[type=radio]:checked + label::before{
    background-color: black;
}

.shop-area{
	margin-bottom: 25px;
}

.shop-item{
    float: left;

    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    background-color: white;
    box-shadow: 0 0 15px rgba(0, 1, 1, .2);
}

.shop-item:nth-child(3n){
    margin-right: 0;
}

.shop-item img{
    display: block;
}

.shop-item-bottom{
    padding: 17px 15px;
}

.shop-item-title{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-size: 14px;
    line-height: 18px;

    text-transform: none;
}

.shop-item-title a{
    text-decoration: none;

    color: black;
}

.shop-item-brand-name{
    display: block;

    text-transform: uppercase;
}

.shop-item-price-section{
    font-size: 0;
}

.shop-item-price{
    display: inline-block;

    width: 110px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 24px;

    text-align: center;

    background-color: #e5e5e5;
}

.btn-buy{
    width: 80px;
    margin: 0;
    padding-right: 0;
    padding-left: 0;

    font-size: 14px;
    line-height: 24px;
}

.shop-pagination{
    clear: both;

    margin: 0;
    padding: 0;

    font-size: 0;

    list-style: none;
}

.shop-pagination a{
    display: inline-block;

    padding: 13px 18px;

    font-size: 14px;
    line-height: 18px;

    text-decoration: none;

    color: white;
    background-color: black;
}

.shop-pagination li{
    display: inline-block;

    margin-right: 7px;
}

.shop-pagination a:last-child{
    margin-right: 0;
}

.shop-pagination a:hover{
    color: black;
    background-color: white;
}

/* Footer */

.main-footer{
    padding: 55px 0 35px 0;

    color: #fff;
    background: #222 url('../img/footer-pattern.jpg') repeat;
    box-shadow: inset 0 30px 40px -15px #000;
}

.main-footer b{
    display: block;

    margin-bottom: 15px;

    font-size: 14px;
    line-height: 24px;

    text-align: center;
}

.footer-contacts{
    float: left;

    width: 320px;
    margin-right: 60px;

    font-size: 14px;
    line-height: 24px;
}

.footer-contacts a{
    text-decoration: underline;

    color: #fff;
}

.footer-social{
    float: left;

    width: 180px;

    font-size: 0;

    text-align: center;
}

.social-btn{
    position: relative;

    display: inline-block;

    width: 43px;
    height: 43px;
    margin-right: 6px;

    background: black url('../img/sprite.png') no-repeat;
}

.social-btn:last-of-type{
    margin-right: 0;
}

.social-btn-vk{
    background-position: 9px -22px;
}

.social-btn-fb{
    background-position: 16px -98px;
}

.social-btn-inst{
    background-position: 12px -182px;
}

.footer-copyright{
    float: right;

    max-width: 180px;
}

.footer-copyright .btn{
    margin-right: 0;

    font: inherit;

    text-decoration: inherit;

    color: inherit;
}
