/* Others */
body{
    min-width: 960px;
    margin: 0;

    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;

    color: #fff;
    background: black url('../img/page-background.jpg') center top no-repeat;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix::after{
    display: table;
    clear: both;

    content: '';
}

.btn{
    display: inline-block;

    margin-right: 16px;
    padding: 10px 33px;

    font: inherit;
    line-height: 24px;

    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    border: none;
    outline: none;
    background-color: black;
}

.btn:hover,
.btn:active{
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
    cursor: default;

    opacity: .5;
}

.btn.disabled,
.btn:disabled{
    background-color: #000;
}


/* Header */

.main-header{
    margin-bottom: 55px;

    color: #fff;
    background-color: black;
}

.main-navigation{
    float: left;
}

.main-navigation ul{
    margin: 0;
    padding: 0;

    font-size: 0;

    list-style: none;
}

.main-navigation li{
    display: inline-block;

    font-size: 16px;
    line-height: 20px;

    vertical-align: top;
}

.main-navigation a{
    display: block;

    padding: 25px 20px;

    text-decoration: none;

    color: #fff;
}

.main-navigation a:hover{
    background-color: #242424;
}

.user-block{
    float: right;

    font-size: 16px;
    line-height: 20px;
}

.login{
    position: relative;

    display: block;

    padding: 25px 20px 25px 50px;

    font-size: 16px;
    line-height: 24px;

    text-decoration: none;

    color: #fff;
}

.login:hover{
    background-color: #242424;
}

.login::before{
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 16px;

    content: '';

    background: url('../img/sprite.png') no-repeat;
}

.login:hover::before{
    opacity: .3;
}


/* Main */

.index-logo{
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.index-logo img{
    width: 368px;
    height: 204px;
}

.features{
    margin-bottom: 80px;
}

.features-item{
    float: left;

    width: 300px;
    margin-right: 20px;

    text-align: center;
}

.features-item:last-child{
    margin-right: 0;
}

.feature-name{
    position: relative;

    display: block;

    margin-bottom: 30px;
    padding-bottom: 45px;

    font-size: 30px;
    line-height: 36px;
}

.feature-name::after{
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 20px;
    height: 20px;

    content: '';
    transform: translateX(-50%) rotate(45deg);

    background-color: #fff;
}

.feature-description{
    margin: 0 10px;

    line-height: 24px;
}

.index-content{
    margin-bottom: 35px;
    padding: 50px 80px;

    color: black;
    background: url('../img/index-content-shadow.png') no-repeat center center ,#f8f5f2 url('../img/index-background.jpg') repeat;
}

.index-content:last-child{
    margin-bottom: 0;
}

.index-content-left{
    float: left;

    width: 380px;
}

.index-content-right{
    float: right;

    width: 300px;
}

.index-content-title{
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 36px;
}

.index-content p{
    margin: 0;
    margin-bottom: 25px;

    font-size: 14px;
    line-height: 24px;
}

.news-preview{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-right: 35px;

    list-style: none;
}

.news-preview li{
    margin-bottom: 25px;
}

.news-preview li:last-child{
    margin-bottom: 0;
}

.news-preview p{
    margin-bottom: 0;
}

.news-preview time{
    font-weight: normal;
    line-height: 24px;

    text-transform: none;
}

.gallery{
    position: relative;

    height: 260px;
}

.gallery-content{
    height: 164px;
    margin: 0;

    border: 7px solid #fff;
    background-color: #ccc;
}

.gallery-content img{
    width: 286px;
    height: 164px;
}

.gallery .btn{
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-prev{
    left: 0;
}

.gallery-next{
    right: 0;
}

.appointment-form-left{
    float: left;

    width: 140px;
}

.appointment-form-right{
    float: right;

    width: 140px;
}


.appointment-form input{
    float: left;

    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;

    font: inherit;
    line-height: 24px;

    text-transform: inherit;

    color: inherit;
    border: 2px solid black;
    outline: none;
    background-color: #f9f6f3;
}

.appointment-form input:nth-child(2n){
    margin-right: 0;
}

.appointment-form .btn{
    clear: both;

    width: 100%;
}

.appointment-form input:focus{
    border-color: #663d15;
}

/* Footer */

.main-footer{
    margin-top: 65px;
    padding: 55px 0 35px 0;

    color: #fff;
    background: #232323 url('../img/footer-pattern.jpg') repeat;
}

.main-footer p{
	margin: 0;
    margin-bottom: 15px;

    font-size: 14px;
    line-height: 24px;

    text-align: center;
}

.footer-contacts{
    float: left;

    width: 320px;
    margin-right: 60px;

    font-size: 14px;
    line-height: 24px;
}

.footer-contacts a{
    color: #fff;
}

.footer-contacts a:hover{
    text-decoration: none;
}

.footer-social{
    float: left;

    width: 180px;

    font-size: 0;

    text-align: center;
}

.social-btn{
    position: relative;

    display: inline-block;

    width: 43px;
    height: 43px;
    margin-right: 6px;

    background: black url('../img/sprite.png') no-repeat;
}

.social-btn:last-of-type{
    margin-right: 0;
}

.social-btn-vk{
    background-position: 9px -22px;
}

.social-btn-fb{
    background-position: 16px -98px;
}

.social-btn-inst{
    background-position: 12px -182px;
}

.footer-copyright{
    float: right;

    max-width: 180px;
}

.footer-copyright .btn{
	margin-right: 0;
}


/*   Modal windows   */

.modal-content{
    position: fixed;
    display: none;
    box-sizing: border-box;
    width: 460px;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: #f6f3f0 url('../img/index-background.jpg') repeat;
    color: #000;
    padding: 55px 80px;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
}

.modal-login-title{
    margin-bottom: 20px;
}

.modal-login-description{
    margin-bottom: 10px;
}

.login-form input{
    width: 300px;
    box-sizing: border-box;
    padding: 10px 15px;
    padding-right: 40px;
    font: inherit;
    color: #000;
    border: 2px solid #000;
    text-transform: inherit;
}

.login-form input:focus{
    border-color: #663d15;
    outline: none;
}

.login-form-login{
    background: #f9f6f3 url('../img/ico-login.png') no-repeat;
    background-position: right 13px center;
    margin-bottom: 10px
}

.login-form-password{
    background: #f9f6f3 url('../img/ico-password.png') no-repeat;
    background-position: right 13px center;
    margin-bottom: 15px;
}

.login-form-remember{
    display: none;
}

.login-form-remember + label{
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.remind-password{
    float: right;
    color: inherit;
}

.login-form-remember + label::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    padding: 2px;
    
}

.login-form-remember:checked + label::before{
    background: url('../img/checkbox-background.png') no-repeat center;
}

.btn-login{
    display: block;
    margin: 0;
}

.modal-content-map{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 766px;
    height: 560px;
    background: url('../img/map-background.jpg') no-repeat;
    border: 8px solid white;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, .75);
    transform: translate(-50%, -50%);
}

.modal-content-close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: -37px;
    outline: none;
    font-size: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after{
    content: '';
    position: absolute;
    top: 9px;
    left: -1px;
    width: 26px;
    height: 3px;
    border-radius: 1px;
    background-color: #d0d0d0;
}

.modal-content-close::before{
    transform: rotate(45deg)
}

.modal-content-close::after{
    transform: rotate(-45deg);
}

@keyframes bounce{
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

